# Renombrar este archivo a secrets.yaml y completar con tus datos
# NO subir secrets.yaml a GitHub

wifi_ssid: "TU_RED_WIFI"
wifi_password: "TU_PASSWORD_WIFI"
api_key: "GENERA_UNA_KEY_ALEATORIA_BASE64"
ota_password: "TU_PASSWORD_OTA"
